
/* selector syntax:
  selectortype{
    propertykey: proprtyvalue;
  } */

/* 
1. element selector
p{
    color: aqua;
} */

/* h2{
    color: red;
    background-color: black;
} */
 
/* 2. id selector (#) */

/* #pit{
    color: aquamarine;
} */

/* #p1id{
    font-family: cursive;
    color: brown;
} */
/* 
#pid, #p1id ,.highlighter {
    color: blue;
    
} */

/* 3.class selector  */
/* .highlighter{
    background-color: yellow;
}

.headingstyles{
    font-size: large;
    color: blueviolet;
} */

/* specificity  order */
p{ 
  color: blue;
}

#pid{
    color: blue;
}
.headingstyles{
    color: blueviolet;
}