h1{
    /* color: brown;
    background-color: green;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: red; */
     font-size: 'times new roman' curive;
}

p{
    /* text-align: justify;
    text-indent: 80px;
    text-align: justify;
    text-indent: 80px;
    line-height: 1.2rem;
    word-spacing: 10px;
    color: transparent;*/
    text-shadow: 3px 3px 1px red;
 
}