*{    /* body */
    margin: 0;
    padding: 0;
}

#box2{
    padding-bottom: 50px;
    
}
div{
    border: 20px solid #17962c;
    padding: 20px 15px 20px 15px ;
    /* padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px; */
    margin: 10px 8px 10px 8px;
    /* margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    */
    width: 250px;
    height: 250px;
}