*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    border: 2px solid rgb(221, 236, 81);
    display: grid;
    /* gap:10px; */
    row-gap: 18px;
    column-gap: 6px;

    grid-template-columns: 25vw 200px 400px;

}
.box{
    border: 2px solid green;
    padding: 12px;
 }